<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Github Contributes</title>
    <!-- Load plotly.js into the DOM -->
    <script src='/static/assets/js/plotly.min.js'></script>
    <script src="/static/assets/js/jquery-1.12.2.min.js"></script>
</head>

<body>
<div style="bottom: 30px; top: 0px; left: 0px; right: 0px; width: 100%; position: absolute">
    <div align="center" style="padding-top: 20px;">
        <h3>Github Contributes Graph</h3>
    </div>
    <div align="center">
        <p>Github Profile의 contributes 그래프, 일명 잔디라고 불리는 친구의 데이터를 크롤링하여</p>
        <p>contributes 데이터를 수집, 꺾은선 그래프로 변경하여 보여주는 페이지입니다.</p>
    </div>
    <div align="center">
        <label for='github_id'>Github ID: </label><input id='github_id'/>
        <button onclick="get()">Plot</button>
    </div>
    <div id='myDiv' align="center" style="padding-right: 10%; padding-left: 10%; width: 80%;"><!-- Plotly chart will be drawn inside this DIV --></div>
    <div hidden id="how_count" align="end" style="padding-right: 15%; padding-left: 15%; width: 70%;">
        <a href="https://docs.github.com/en/github/setting-up-and-managing-your-github-profile/why-are-my-contributions-not-showing-up-on-my-profile">
            How Github count contributes
        </a>
    </div>
    <div id="source_code" align="end" style="padding-right: 15%; padding-left: 15%; width: 70%;">
        <a href="https://github.com/BranKein/Github_Contributes_Plotting">
            View Source Code by Github
        </a>
    </div>
    <div hidden id="error_not_found" align="center">
        <h3>404 Not Found!</h3>
    </div>
</div>
<div style="left: 0px; right: 0px; bottom: 0; position: absolute;">
    <div align="center" style="margin-top: 0;">
        <p>Copyright © 2021 Yeonhyuk Kim, All rights reserved.</p>
    </div>
</div>
</body>
<script>
    var error_not_found = $('#error_not_found');
    var github_id;

    function get() {
        github_id = $('#github_id').val();
        $.ajax({
            'url': "/contribute/" + github_id,
            'type': 'GET',
            'contentType': 'application/json; charset=UTF-8',
            'success': function(data) {
                plot(data);
                $('#how_count').show();
            },
            'error': function(request, status, error) {
                error_not_found.show();
            }
        });
    }
    function plot(contribute) {
        var date_list = [];
        var count_list = [];
        for (var i=0; i<contribute.length; i++) {
            date_list.push(contribute[i]['data-date']);
            count_list.push(contribute[i]['data-count']);
        }
        var frames = [];
        for (var i=0; i<contribute.length; i++) {
            frames[i] = {data: [{x: [], y: []}]};
            frames[i].data[0].x = date_list.slice(0, i+1);
            frames[i].data[0].y = count_list.slice(0, i+1);
        }
        console.log(frames);
        var data = [
            {
                x: frames[contribute.length-1].data[0].x,
                y: frames[contribute.length-1].data[0].y,
                type: 'scatter',
                fill: 'tozeroy',
                mode: 'lines',
                line: {color: 'green'},
            }
        ];
        console.log(frames[contribute.length-1].data[0].x[0]);
        console.log(frames[contribute.length-1].data[0].x[contribute.length-1]);

        var layout = {
            title: github_id + "'s Github Contributes",
            xaxis: {
                title: 'Date',
                autorange: true,
                range: [
                    frames[contribute.length-1].data[0].x[0],
                    frames[contribute.length-1].data[0].x[contribute.length-1],
                ],
                type: 'date'
            },
            yaxis: {
                title: 'Contributes',
                autorange: true,
                type: 'linear'
            },
            annotations: [{
                showarrow: false,
                text: "<b>Let's Coding!</b>",
                font: {
                    family: 'Gravitas One',
                    size: 36,
                    color: 'black',
                },
                xref: 'paper',
                yref: 'paper',
                x: 0.5,
                y: 0.5,
            }]
        };

        var config = {
            responsive: true
        }

        Plotly.newPlot('myDiv', data, layout, config)
        .then(function () {
            Plotly.animate('myDiv', frames, {
                transition: {
                    duration: 0
                },
                frame: {
                    duration: 20,
                    redraw: false
                }
            })
        });
    }
</script>
</html>